.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.github/**
keys.txt
PUBLISHING.md
test-r2-config.js
*.vsix
.cursorignore